<% content_for :head do %>
  <%= socky :client_id => params[:login] %>
<% end %>

<%= link_to "logout", root_path, :id => "logout_link" %>
<div id="chat_wrapper">
	<div id="wrapper">
		<ul id="messages"></ul>

	  <% form_remote_tag :url => message_socky_path, :id => "message_form" do %>
	    <%= hidden_field_tag :current_user, params[:login] %>
	    <%= text_field_tag :message, "", :class => "text" %>
	    <%= submit_tag "Send", :class => "submit" %>
	  <% end %>
	</div>
</div>