<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      runChat('<%= params[:login] %>');
    });
  </script>
<% end %>

<%= link_to "logout", root_path, :id => "logout_link" %>
<div id="chat_wrapper">
	<div id="wrapper">
		<ul id="messages">
		  <li class="system">Connecting...</li>
		</ul>

	  <%= form_tag '', :id => "message_form" do %>
	    <%= text_field_tag :message, "", :class => "text", :autocomplete => "off" %>
	    <%= submit_tag "Send", :class => "submit" %>
	  <% end %>
	</div>
</div>
